.topAlbums > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: var(--white); */
}
.topAlbums > header h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
}
